:host {
    display: block;
    border: 1px solid #ced4da;
    border-radius: 4px;
    input.form-control {
        border: none;
        min-width: 15px;
        display: inline;
        padding-left: 5px;
        &:focus{
            box-shadow: none;
        }
    }
    span.badge {
        cursor: pointer;
    }
}