<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-5">
      <form novalidate #userForm="ngForm">
        <div class="card">
          <div class="card-header">
            Template-driven Form
          </div>
          <div class="card-body">
            <div class="form-group">
              <label>Name</label>
              <div class="row">
                <div class="col-6">
                  <input type="text" class="form-control" placeholder="First" [(ngModel)]="user.name.first" name="fname" #fname="ngModel">
                </div>
                <div class="col-6">
                  <input type="text" class="form-control" placeholder="Last" [(ngModel)]="user.name.last" name="lname" #lname="ngModel">
                </div>
              </div>
            </div>
            <div class="form-group">
              <label>Email</label>
              <input type="email" class="form-control" placeholder="you@mail.com" [(ngModel)]="user.email" name="email" #email="ngModel">
            </div>
            <div class="form-group">
              <label>Phone</label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">+60</span>
                </div>
                <input type="number" class="form-control" placeholder="Mobile" [(ngModel)]="user.phone.mobile" name="mobile" #mobile="ngModel">
              </div>
            </div>
            <div class="form-group">
              <label>Skills</label>
              <azrin-tagging [value]="user.skills" (removed)="removeSkill($event)" (addValue)="onAddSkill($event)"></azrin-tagging>
              <p><small>Press enter to add tag</small></p>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="col-md-5">
      <div class="bg-light p-3 h-100 rounded">
        <pre class="mb-0">{{ user | json }}</pre>
      </div>
    </div>
  </div>
</div>

<hr>

<div class="container mb-5">
  <div class="row">
    <div class="col-md-12 d-flex justify-content-center">
        <a href="" class="btn btn-sm btn-primary mr-1" routerLink="">Back</a>
    </div>
  </div>
</div>